\venv
.env
*\venv
.env.*
.env
*/.venv
.vscode

*_ingest_data/
.logs/

.vscode
**/.pytest_cache

**/spring.log
**/spring.log*.gz

elk-stack/

**/.*.env
jenkins-ci/

keycloak-cert.crt
keycloak-kf.key
rootCA.key
rootCA.crt

.DS_Store